// --------------------------------
//-------- [ Start Components ] --------
// --------------------------------

@import "assets/scss/vars/vars";
@import "assets/scss/vars/light";
@import "assets/scss/vars/dark";
@import "assets/scss/components/inputs";

//-------- [ End Components ] --------

// --------------------------------
//-------- [ Start Fonts ] --------
// --------------------------------


//-------- [ End Fonts ] --------

// --------------------------------
//-------- [ Start Pages ] --------
// --------------------------------

@import "layout/layout";
@import "projects/projects";
@import "offers/offers";
@import "about/about";
@import "news/news";
@import "contact/contact";

//-------- [ End Pages ] --------

// --------------------------------
//-------- [ Start Global ] --------
// --------------------------------

* {
    box-sizing: border-box;
}
body {
    font-family: "Changa";
    background-color: #fff;
    height: 100%;
    position: relative;
    direction: rtl;
    text-align: right;
    overflow-x: hidden;
}
.row {
    overflow: hidden;
}
.container-fluid {
    padding-right: 50px;
    padding-left: 50px;
}

.container {
    @media (min-width: 300px) {
        max-width: 100%;
    }
    @media (min-width: 1440px) {
        max-width: 1440px;
    }
}
.row-inside-row {
    margin-right: -8px;
    margin-left: -8px;
}
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-md-6,
.col-md-3,
.col-md-4,
.col-md-8,
.col-md-9 {
    padding-right: 8px;
    padding-left: 8px;
}
.btn-fill {
    border: 2px solid #272727;
    background: #272727;
    text-decoration: none;
    color: #FFF;
    padding: 12px 35px 12px 35px;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 25px 0 0 0;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
    &:hover {
        text-decoration: none;
        color: #FFF;
        svg {
            transform: translate(-4px, 0);
            fill: var(--p-color);
        }
    }
    svg {
        height: 15px;
        width: 15px;
        margin-right: 10px;
        transition: all 0.3s ease-in-out;
        fill: var(--p-color);
        margin-top: 3px;
    }
    @media (max-width: $max-5) {
        margin-top: 20px;
        font-size: 1rem;
        font-weight: 100;
    }
}
.section-header {
    text-align: center;
    margin-bottom: 50px;
    display: block;
    p {
        margin-bottom: 0;
        font-weight: 400;
        color: #7e868e;
        margin-bottom: 5px;
        span {
            color: #345a4c;
            font-weight: 500;
            font-size: 1.1rem;
            background: #345a4c14;
            padding: 3px 12px;
            display: inline-block;
            border-radius: 0;
        }
    }
    h2 {
        font-size: 3rem;
        line-height: 1.4;
        margin-bottom: 5px;
        @media (max-width: $max-7) {
            font-size: 2.5rem;
        }
        @media (max-width: $max-5) {
            font-size: 1.7rem;
        }
        span {
            color: #f6ebc9;
            font-weight: 500;
            background: #272727;
            padding: 0 13px;
            height: 73px;
            display: inline-block;
            border-radius: 12px;
            font-size: 3.2rem;
        }
    }
    .header-text {
        width: 50%;
        margin: 0 auto 25px auto;
        display: block;
        font-size: 0.9rem;
        @media (max-width: $max-7) {
            font-size: 0.9rem;
            width: 80%;
        }
        @media (max-width: $max-5) {
            width: 90%;
        }
    }
}
.section-header-side {
    text-align: right;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $max-9) {
        display: block;
    }
    p {
        margin-bottom: 0;
        font-weight: 400;
        color: #7e868e;
        margin-bottom: 5px;
        span {
            color: #345a4c;
            font-weight: 500;
            font-size: 1.1rem;
            background: #345a4c14;
            padding: 3px 12px;
            display: inline-block;
            border-radius: 0;
        }
    }
    h2 {
        font-size: 3rem;
        line-height: 1.4;
        margin-bottom: 5px;
        @media (max-width: $max-7) {
            font-size: 2.5rem;
        }
        @media (max-width: $max-5) {
            font-size: 1.7rem;
        }
        span {
            color: #f6ebc9;
            font-weight: 500;
            background: #272727;
            padding: 0 13px;
            height: 73px;
            display: inline-block;
            border-radius: 12px;
            font-size: 3.2rem;
        }
    }
    .header-text {
        width: 547px;
        margin: 0;
        display: block;
        font-size: 0.9rem;
        @media (max-width: $max-7) {
            font-size: 0.9rem;
            width: 80%;
        }
        @media (max-width: $max-5) {
            width: 90%;
        }
    }
}
//-------- [ End Global ] --------

// --------------------------------
//-------- [ Start Index ] --------
// --------------------------------

.home-header {
    height: calc(100vh - 100px);
    border-radius: 20px;
    width: 98%;
    margin: 83px auto 0 auto;
    background-image: linear-gradient(45deg,#FFEECA,#005B4C);
    background-image: url(assets/images/header4.png);
    background: {
        size: contain;
        position: 100px 120px;
        repeat: no-repeat;
    }
    @media (max-width: $max-12) {
        background: {
            position: -75px 275px;
        }
    }
    @media (max-width: $max-7) {
        background: {
            position: -75px 375px;
        }
    }
    position: relative;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        background: linear-gradient(45deg,#FFEECA,#272727);
    }
    .header-content {
        text-align: right;
        position: absolute;
        top: 40%;
        right: 75px;
        transform: translate(0%, -50%);
        width: 60%;
        z-index: 5;
        @media (max-width: $max-9) {
            width: 85%;
            top: 30%;
        }
        @media (max-width: $max-9) {
            width: 85%;
            top: 28%;
            text-align: center;
            margin: auto;
            right: unset;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        @media (max-width: $max-5) {
            width: 95%;
        }
        h1 {
            text-transform: uppercase;
            font-size: 4.5rem;
            color: #FFF;
            display: inline-block;
            margin-bottom: 5px;
            span {
                display: block;
            }
            .gray-h1 {
                font-size: 3.5rem;
                color: #FFEECA;
                @media (max-width: $max-12) {
                    font-size: 3.1rem;
                }
                @media (max-width: $max-5) {
                    font-size: 1.5rem;
                }
            }
            @media (max-width: $max-12) {
                font-size: 3.5rem;
            }
            @media (max-width: $max-9) {
                font-size: 3.5rem;
            }
            @media (max-width: $max-7) {
                font-size: 3rem;
            }
            @media (max-width: $max-5) {
                font-size: 2rem;
            }
        }
        p {
            color: #cecece;
            margin: 15px 0 0 0;
            width: 60%;
            font-size: 1rem;
            @media (max-width: $max-12) {
                font-size: 1rem;
            }
            @media (max-width: $max-9) {
                width: 85%;
                margin: 15px auto 0 auto;
            }
            @media (max-width: $max-5) {
                font-size: 0.85rem;
            }
        }
        .btn-fill {
            border: 2px solid #272727;
            background: #272727;
            text-decoration: none;
            color: #FFF;
            padding: 12px 35px 12px 35px;
            font-size: 1rem;
            font-weight: 500;
            margin: 35px 0 0 0;
            display: inline-block;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            border-radius: 50px;
            &:hover {
                svg {
                    transform: translate(-4px, 0);
                    fill: var(--p-color);
                }
            }
            svg {
                height: 15px;
                width: 15px;
                margin-right: 10px;
                transition: all 0.3s ease-in-out;
                fill: var(--p-color);
                margin-top: 3px;
            }
            @media (max-width: $max-5) {
                margin-top: 20px;
                font-size: 1rem;
                font-weight: 100;
            }
        }
    }
}

//-------- [ Start Index ] --------

// Start Content
.about {
    padding: 100px 0;
    position: relative;
    .about-more-info {
        p {
            margin-bottom: 0;
            font-weight: 400;
            color: #7e868e;
            margin-bottom: 5px;
            span {
                color: #272727;
                font-weight: 500;
                font-size: 1.1rem;
                background: #f6ebc9;
                padding: 3px 12px;
                display: inline-block;
                border-radius: 0;
            }
        }
        h2 {
            font-size: 3.5rem;
            line-height: 1.4;
            margin-bottom: 10px;
            @media (max-width: $max-12) {
                font-size: 2.5rem;
            }
            @media (max-width: $max-5) {
                font-size: 2rem;
            }
            span {
                color: #f6ebc9;
                font-weight: 500;
                background: #272727;
                padding: 0 13px;
                height: 73px;
                display: inline-block;
                border-radius: 12px;
                font-size: 3.2rem;
            }
        }
    }
    .about-img {
        figure {
            padding: 0;
            margin: 0;
            height: 500px;
            width: 100%;
            border-radius: 12px;
            background: {
                size: cover;
                position: center center;
                repeat: no-repeat;
            }
            @media (max-width: $max-9) {
                margin-top: 25px;
                height: 300px;
            }
        }
        // position: relative;
        // border-radius: 12px;
        // height: 525px;
        // .about-img-bg {
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%, -50%) rotate(45deg);
        //     border-radius: 12px;
        //     height: 250px;
        //     width: 400px;
        //     background: linear-gradient(-45deg,#FFEECA,#272727);
        // }
        // .about-img-1 {
        //     position: absolute;
        //     top: 37%;
        //     left: 64%;
        //     transform: translate(-50%, -50%) rotate(45deg);
        //     z-index: 2;
        //     overflow: hidden;
        //     height: 200px;
        //     width: 200px;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     border-radius: 20px;
        //     img {
        //         height: 150%;
        //         width: 150%;
        //         border-radius: 20px;
        //         transform: rotate(-45deg) scale(1);
        //     }
        // }
        // .about-img-2 {
        //     position: absolute;
        //     top: 71%;
        //     left: 49%;
        //     transform: translate(-50%, -50%) rotate(45deg);
        //     z-index: 2;
        //     overflow: hidden;
        //     height: 200px;
        //     width: 200px;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     border-radius: 20px;
        //     img {
        //         height: 150%;
        //         width: 150%;
        //         border-radius: 20px;
        //         transform: rotate(-45deg) scale(1);
        //     }
        // }
        // .about-img-3 {
        //     position: absolute;
        //     top: 65%;
        //     left: 72%;
        //     transform: translate(-50%, -50%) rotate(45deg);
        //     z-index: 2;
        //     overflow: hidden;
        //     height: 80px;
        //     width: 80px;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     border-radius: 20px;
        //     img {
        //         height: 150%;
        //         width: 150%;
        //         border-radius: 20px;
        //         transform: rotate(-45deg) scale(1);
        //     }
        // }
        // .about-img-4 {
        //     position: absolute;
        //     top: 59%;
        //     left: 30%;
        //     transform: translate(-50%, -50%) rotate(45deg);
        //     z-index: 2;
        //     overflow: hidden;
        //     height: 80px;
        //     width: 80px;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     border-radius: 20px;
        //     img {
        //         height: 150%;
        //         width: 150%;
        //         border-radius: 20px;
        //         transform: rotate(-45deg) scale(1);
        //     }
        // }
        // .about-img-5 {
        //     position: absolute;
        //     top: 41%;
        //     left: 38%;
        //     transform: translate(-50%, -50%) rotate(45deg);
        //     z-index: 2;
        //     overflow: hidden;
        //     height: 125px;
        //     width: 125px;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     border-radius: 20px;
        //     img {
        //         height: 150%;
        //         width: 150%;
        //         border-radius: 20px;
        //         transform: rotate(-45deg) scale(1);
        //     }
        // }
        // .about-card-fly {
        //     position: absolute;
        //     top: 17%;
        //     left: 32%;
        //     transform: translate(-50%, -50%);
        //     z-index: 2;
        //     overflow: hidden;
        //     display: flex;
        //     justify-content: space-between;
        //     align-items: center;
        //     border-radius: 12px;
        //     background: #FFF;
        //     padding: 10px 17px;
        //     box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
        //     .icon {
        //         background: #fffbd7;
        //         border-radius: 50%;
        //         display: flex;
        //         align-items: center;
        //         justify-content: center;
        //         height: 40px;
        //         width: 40px;
        //         svg {
        //             fill: #ffe500;
        //             height: 22px;
        //         }
        //     }
        //     .about-card-fly-info {
        //         margin-right: 15px;
        //         h6 {
        //             margin-bottom: -5px;
        //             font-size: 1.4rem;
        //             font-weight: 600;
        //         }
        //         span {
        //             font-size: 0.9rem;
        //         }
        //     }
        // }
        // .about-card-fly2 {
        //     position: absolute;
        //     top: 83%;
        //     left: 74%;
        //     transform: translate(-50%, -50%);
        //     z-index: 2;
        //     overflow: hidden;
        //     display: flex;
        //     justify-content: space-between;
        //     align-items: center;
        //     border-radius: 12px;
        //     background: #FFF;
        //     padding: 10px 17px;
        //     box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
        //     .icon {
        //         background: #eeedf6;
        //         border-radius: 50%;
        //         display: flex;
        //         align-items: center;
        //         justify-content: center;
        //         height: 40px;
        //         width: 40px;
        //         svg {
        //             fill: #272727;
        //             height: 22px;
        //         }
        //     }
        //     .about-card-fly-info {
        //         margin-right: 15px;
        //         h6 {
        //             margin-bottom: -5px;
        //             font-size: 1.4rem;
        //             font-weight: 600;
        //         }
        //         span {
        //             font-size: 0.9rem;
        //         }
        //     }
        // }
    }
}
.numbers {
    padding-top: 25px;
    padding-bottom: 75px;
    @media (max-width: $max-5) {
        padding-top: 10px;
        padding-bottom: 10px;
     }
    .numbers-content {
        background: #131723;
        background: linear-gradient(-15deg, rgb(39, 39, 39), rgb(39 39 39));
        border-radius: 20px;
        padding: 50px 25px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        @media (max-width: $max-5) {
           display: block;
           padding: 25px 25px;
        }
        .num-card {
            text-align: center;
            width: 100%;
            border-right: 1px solid #3b3b3b;
            @media (max-width: $max-5) {
                margin: 20px 0px;
                border-right: unset;
             }
            h3 {
                font-size: 3rem;
                color: #FFF;
                margin-bottom: 0;
                @media (max-width: $max-7) {
                    font-size: 2rem;
                }
            }
            span {
                color: #bbc1cf;
                font-size: 1.2rem;
                @media (max-width: $max-7) {
                    font-size: 1rem;
                }
            }
        }
        .num-card:first-child {
            border: 1px solid transparent;
        }
    }
}
.sections {
    padding: 25px 0 50px 0;
    .sections-container {
        .partner-card {
            position: relative;
            margin-bottom: 50px;
            img {
                max-width: 100%;
                height: 45px;
                filter: grayscale(1);
            }
        }
    }
}
.projects {
    padding: 75px 0;
    background: linear-gradient(45deg, #f4f4f4, #fff7da54);
    .projects-cards {
        .project-card {
            a {
                text-decoration: none;
                color: unset;
                display: block;
            }
            @media (max-width: $max-5) {
                padding: 10px 15px 25px 15px;
            }
            .project-card-inner {
                position: relative;
                z-index: 2;
                transform: perspective(500px) rotateY(-5deg);
                transform-style: preserve-3d;
                @media (max-width: $max-5) {
                    padding: 5px 0;
                }
                figure {
                    height: 250px;
                    transform: perspective(500px) rotateY(0deg);
                    border-radius: 20px;
                    background: {
                        size: cover;
                        position: center center;
                        repeat: no-repeat;
                    }
                }
            }
            .project-card-info {
                h3 {
                    font-size: 1rem;
                    margin-bottom: 0;
                    margin-right: 2px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    margin-bottom: 0;
                }
                p {
                    color: #7e868e;
                    font-size: 0.9rem;
                    display: flex;
                    align-items: center;
                    svg {
                        fill: #345a4c;
                        height: 16px;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}
.offers {
    padding: 75px 0 75px 0;
    .offers-container {
        .offer-card {
            background: #FFF;
            padding: 12px 12px 12px 12px;
            border-radius: 20px;
            box-shadow: 0 0 40px 0 rgba(94,92,154,.06);
            margin: 8px auto;
            position: relative;
            color: #3e3f5e;
            a {
                display: block;
                text-decoration: none;
                color: unset;
            }
            .offer-head {
                .offer-head-item {
                    text-align: right;
                    figure {
                        width: 100%;
                        height: 175px;
                        background: {
                            size: cover;
                            position: center center;
                            repeat: no-repeat;
                        }
                        margin-bottom: 0;
                        border-radius: 20px;
                    }
                    .offer-head-item-info {
                        margin-right: 5px;
                        .pretitle {
                            font-size: 0.8rem;
                            color: #345a4c;
                            font-weight: 700;
                            text-align: right;
                            margin: 17px 0 0 0;
                            display: block;
                        }
                        .pretitle-date {
                            font-size: 0.7rem;
                            color: #8f90b5;
                            font-weight: 700;
                            text-align: right;
                        }
                        .offer-title {
                            font-size: 1rem;
                            margin: 0px 0 0px 0;
                            color: #3e3f5e;
                            font-weight: 600;
                            text-align: right;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                        }
                    }
                }
            }
            .offer-action {
                margin-top: 15px;
                .enter {
                         background: linear-gradient(45deg, #f4f4f4, #fff7da54);
                    padding: 8px 20px;
                    width: 100%;
                    border-radius: 7px;
                    color: #000;
                    text-decoration: none;
                    font-size: 0.85rem;
                    font-weight: 600;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}
.newsletter {
    padding: 0 0 50px 0;
    .newsletter-container {
        background: {
            image: url(assets/images/002.png);
            size: cover;
            position: 0 42%;
        }
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: end;
        height: 250px;
        position: relative;
        .newsletter-img {
            position: relative;
            bottom: 43px;
            img {
                width: 325px;
            }
        }
        .newsletter-info {
            position: absolute;
            left: 100px;
            top: 40%;
            transform: translate(0, -50%);
            @media (max-width: $max-9) {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 90%;
            }
            h3 {
                color: #FFF;
                font-size: 2.2rem; 
                margin-bottom: 25px;
                @media (max-width: $max-5) {
                    font-size: 1.5rem; 
                }
            }
            .form-group {
                position: relative;
                .form-control {
                    color: #000;
                    outline: none;
                    border-radius: 50px;
                    border: 1px solid transparent;
                    &:focus {
                        border: 1px solid #272727;
                    }
                }
                .btn-newsletter {
                    position: absolute;
                    left: 5px;
                    top: 50%;
                    transform: translate(0, -50%);
                    border: 2px solid #272727;
                    background: #272727;
                    text-decoration: none;
                    color: #FFF;
                    padding: 7px 25px;
                    font-size: 0.9rem;
                    font-weight: 500;
                    margin: 0 0 0 0;
                    display: inline-block;
                    -webkit-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    border-radius: 50px;
                    &:hover {
                        text-decoration: none;
                        color: #FFF;
                        svg {
                            transform: translate(-4px, 0);
                            fill: var(--p-color);
                        }
                    }
                    svg {
                        height: 15px;
                        width: 15px;
                        margin-right: 10px;
                        transition: all 0.3s ease-in-out;
                        fill: var(--p-color);
                        margin-top: 3px;
                    }
                    @media (max-width: $max-5) {
                        margin-top: 0;
                        font-size: 1rem;
                        font-weight: 100;
                    }
                }
            }
        }
    }
}
.news {
    padding: 75px 0 0 0;
    .news-container {
        .news-card {
            a {
                     background: linear-gradient(45deg, #f4f4f4, #fff7da54);
                padding: 20px 25px;
                border-radius: 20px;
                display: flex;
                align-items: center;
                margin-bottom: 12px;
                color: unset;
                text-decoration: none;
                @media (max-width: $max-5) {
                    padding: 15px 15px;;
                }
            }
            .news-image {
                margin-left: 20px;
                figure {
                    width: 100px;
                    height: 100px;
                    border-radius: 20px;
                    background: {
                        size: cover;
                        position: center center;
                        repeat: no-repeat;
                    }
                    margin-bottom: 0;
                    @media (max-width: $max-5) {
                        height: 90px;
                        width: 90px;
                    }
                }
            }
            .news-info {
                position: relative;
                h3 {
                    font-size: 1.2rem;
                    margin-bottom: 6px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    @media (max-width: $max-5) {
                        font-size: 1rem;
                    }
                }
                p {
                    font-size: 0.8rem;
                    color: #7e868e;
                    margin-bottom: 0;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    width: 90%;
                }
                .arrow {
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                    height: 22px;
                    width: 22px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    svg {
                        fill: #000;
                        height: 22px;
                    }
                }
            }
        }
    }
}

// General Classes
.navbar-open {
    opacity: 1 !important;
    visibility: visible !important;
    transition: all 0.3s ease-in-out !important;
}

[lang="en"] {
    body {
        direction: ltr;
        text-align: left;
    }
    .home-header {
        background-image: url(assets/images/header3.png);
        background: {
            position: 0 100px;
        }
        @media (max-width: $max-12) {
            background: {
                position: -235px 275px;
            }
        }
        @media (max-width: $max-7) {
            background: {
                position: -500px 375px;
            }
        }
        @media (max-width: $max-5) {
            background: {
                position: -800px 375px;
            }
        }
        .header-content {
            text-align: left;
            top: 48%;
            right: unset;
            left: 100px;
            @media (max-width: $max-9) {
                width: 85%;
                top: 30%;
            }
            @media (max-width: $max-9) {
                width: 85%;
                top: 28%;
                text-align: center;
                margin: auto;
                right: unset;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            @media (max-width: $max-5) {
                width: 95%;
            }
            h1 {
                text-transform: uppercase;
                font-size: 4.8rem;
                color: #000;
                display: inline-block;
                margin-bottom: 5px;
                span {
                    display: block;
                }
                .gray-h1 {
                    font-size: 3.5rem;
                    color: #345a4c;
                    @media (max-width: $max-12) {
                        font-size: 3.1rem;
                    }
                    @media (max-width: $max-5) {
                        font-size: 1.5rem;
                    }
                }
                @media (max-width: $max-12) {
                    font-size: 3.5rem;
                }
                @media (max-width: $max-9) {
                    font-size: 3.5rem;
                }
                @media (max-width: $max-7) {
                    font-size: 3rem;
                }
                @media (max-width: $max-5) {
                    font-size: 2rem;
                }
            }
            p {
                color: #7e868e;
                margin: 15px 0 0 0;
                width: 60%;
                font-size: 1.1rem;
                @media (max-width: $max-12) {
                    font-size: 1rem;
                }
                @media (max-width: $max-9) {
                    width: 85%;
                    margin: 15px auto 0 auto;
                }
                @media (max-width: $max-5) {
                    font-size: 0.85rem;
                }
            }
            .btn-fill {
                border: 2px solid #272727;
                background: #272727;
                text-decoration: none;
                color: #FFF;
                padding: 12px 35px 12px 35px;
                font-size: 1.1rem;
                font-weight: 500;
                margin: 35px 0 0 0;
                display: inline-block;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                border-radius: 50px;
                &:hover {
                    svg {
                        transform: translate(-4px, 0);
                        fill: var(--p-color);
                    }
                }
                svg {
                    height: 15px;
                    width: 15px;
                    margin-right: 10px;
                    transition: all 0.3s ease-in-out;
                    fill: var(--p-color);
                    margin-top: 3px;
                }
                @media (max-width: $max-5) {
                    margin-top: 20px;
                    font-size: 1rem;
                    font-weight: 100;
                }
            }
        }
    }
    .section-header-side {
        text-align: left;
        p {
            text-align: left;
        }
        h2 {
            text-align: left;
        }
        .header-text {
            text-align: left;
        }
    }
    .offers {
        .offers-container {
            .offer-card {
                .offer-head {
                    .offer-head-item {
                        text-align: left;
                        .offer-head-item-info {
                            margin-right: unset;
                            margin-left: 5px;
                            .pretitle {
                                text-align: left;
                            }
                            .pretitle-date {
                                text-align: left;
                            }
                            .offer-title {
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }
    .newsletter {
        padding: 0 0 50px 0;
        .newsletter-container {
            .newsletter-info {
                .form-group {
                    .btn-newsletter {
                        left: unset;
                        right: 5px;
                    }
                }
            }
        }
    }
    .news {
        padding: 75px 0 0 0;
        .news-container {
            .news-card {
                a {
                         background: linear-gradient(45deg, #f4f4f4, #fff7da54);
                    padding: 20px 25px;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 12px;
                    color: unset;
                    text-decoration: none;
                    @media (max-width: $max-5) {
                        padding: 15px 15px;;
                    }
                }
                .news-image {
                    margin-left: unset;
                    margin-right: 20px;
                }
            }
        }
    }
}

// Scroll Bar
/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: linear-gradient(45deg, #f2fffc, #edf3ff);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #272727; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000; 
  }
